.main{
    width: 100vw;
    height: calc(100vh - 70px);
    display: grid;
    place-items: center;
}

.secciones{
    display: flex; 
    gap: 5rem;

}
.box{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 1px black;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.box:hover{
    transform:scale(1.1);
}